{% extends 'shared/layout.html' %}

{% block maincontent %}
<main>
  <!--grid to hold main content of main-->
  <div class="mainbody">

    <!--image container that has a background image-->
    <div class="imgcontainer"></div>

    <!--text container-->
    <div class="textcontainer">
      <h1 class = "h1">Frederick Fan</h1>
      <p class = "txt"> This is the home page for my portfolio. I am 
                        currently an undergraduate student at 
                        Michigan State University. I am currently
                        in my fourth year and plan to graduate in the
                        spring of 2024.
      </p>
    </div>

    <!--displays the fun fact on the page-->
    <div class="funfact">
      <p><hr><br>
        A fun fact about me: <br>
        I am missing part of my fingerprint on my left middle finger
      </p>
    </div>
  </div>
</main>
{% endblock %}