{% extends 'shared/layout.html' %}

   

{% block maincontent %}

        <main>

          <!--hidden div containing the great old one, will display when conditions mets-->
          <div id = "OldOne"><div class ="title">I have awoken.</div></div>

        <div id = "pianobackground">

            <div class = "title">The Great Old One</div>
            
            <!--Creating a piano and all its keys, making it so that the layout matches the one specified in assignment-->
            <div class = "piano" id = "pianoboard">
                <div class = "whitekey">A</div>
                <div class = "blackkey">W</div>
              
                <div class = "whitekey">S</div>
                <div class = "blackkey">E</div>

                <div class = "whitekey">D</div>

                <div class = "whitekey">F</div>
                <div class = "blackkey">T</div>

                <div class = "whitekey">G</div>
                <div class = "blackkey">Y</div>

                <div class = "whitekey">H</div>
                <div class = "blackkey">U</div>

                <div class = "whitekey">J</div>

                <div class = "whitekey">K</div>
                <div class = "blackkey">O</div>

                <div class = "whitekey">L</div>
                <div class = "blackkey">P</div>
                <div class = "whitekey">;</div>
            </div>
        </div>
    </main>
{% endblock %}
